<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wiki.dao.StrategyMapper">

    <resultMap id="CascadeMap" type="StrategyGuide">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>

        <association property="author" javaType="User">
            <id property="id" column="user_id"/>
            <result property="username" column="username"/>
            <result property="nickname" column="nickname"/>
        </association>
    </resultMap>

    <select id="getStrategyWithCascade" resultMap="CascadeMap">
        SELECT s.id, s.title, s.content, u.id AS user_id, u.username, u.nickname
        FROM strategy_guide s
                 LEFT JOIN user u ON s.user_id = u.id
    </select>

</mapper>